# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Understand basic arithmetic operations in Python.
- List popular languages for Data Science.
- Demonstrate the use of Markdown in Jupyter notebooks.
- Visualize data using plotting libraries like Matplotlib or Seaborn.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Spark                |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
product_sum = (3*4)+5
product_sum

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

## Author

Segatlane Prudence Lesolo